html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #eaf8de;
}

h1 {
  font-family: 'Sigmar', cursive;
  font-size: 75px;
}

h1, h2 {
  text-align: center;
}

input {
  width: 500px;
}

#logo {
  height: 25px;
  float: left;
  margin-right: 5px;
}

#login-button {
  margin-right: 5px;
}

#cart-button,
#login-button {
  float: right;
}

#view-all {
  margin-top: 4em;
  margin-bottom: 4em;
  font-size: 20px;
}

#error-page {
  font-size: 50px;
  text-align: center;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.product-grid img {
  height: 300px;
  width: 300px;
}

.product-grid-item {
  border: solid 5px black;
  background-color: white;
  margin: 10px;
  margin-bottom: 50px;
  width: 300px;
}

.product-grid-info {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 30px;
}

.product-grid-info p, .product-list-info p {
  margin: 10px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-list img {
  height: 80px;
  width: 80px;
}

.product-list-item {
  border: solid 5px black;
  background-color: white;
  margin: 10px;
  width: 75%;
  display: flex;
  font-size: 36px;
}

.product-list-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-right: 20px;
  margin-left: 20px;
}

#product-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}

#login-pic {
  height: 100px;
}

.back-button {
  width: 10%;
  height: 30px;
}

#real-login-button, #signup-button {
  width: 10%;
  height: 25px;
}

#login-page {
  text-align: center;
}

#login-box {
  margin-top: 200px;
}
