html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #eaf8de;
}

h1 {
  font-family: 'Sigmar', cursive;
  font-size: 75px;
}

h1,
h2,
.error-message,
#error-page {
  text-align: center;
}

#login-page-elements,
#signup-page-elements {
  margin-top: 5em;
}

.user-img {
  height: 100px;
  width: 100px;
}

form button {
  margin-bottom: 5em;
}

input {
  margin-bottom: 10px;
}

#logo {
  float: left;
}

#login-button,
#logout-button,
#logo {
  margin-right: 5px;
}

#cart-button,
#login-button,
#logout-button,
#adv-filters {
  float: right;
}

#view-all {
  margin-bottom: 4em;
}

#error-page {
  font-size: 50px;
}

#layout-button,
#signup-button,
form button {
  width: fit-content;
}

.product-grid {
  justify-content: space-evenly;
}

.product-grid img,
#product-img {
  height: 300px;
}

.product-grid img,
#product-img,
.product-grid-item {
  width: 300px;
}

.product-grid-info {
  padding-left: 10px;
  padding-right: 10px;
}

#view-all,
.product-grid-info {
  font-size: 20px;
}

.product-grid-info p,
.product-list-info p,
.product-grid-item,
.product-list-item{
  margin: 10px;
}

.product-list {
  justify-content: center;
}

.product-list,
.product-grid {
  flex-wrap: wrap;
}

.product-list img {
  height: 80px;
  width: 80px;
}

.product-list-item {
  width: 75%;
  font-size: 36px;
}

.product-list-item,
.product-grid-item {
  background-color: white;
  border: solid 5px black;
}

.product-list-info {
  width: 90%;
  margin-right: 20px;
}

.product-list-info,
.product-grid-info {
  justify-content: space-between;
}

#product-description {
  align-items: flex-start;
}

.center,
#product-description,
#login-page-elements,
#signup-page-elements {
  flex-direction: column;
}

.center,
.product-list-info,
.product-grid,
#login-page-elements,
#signup-page-elements {
  align-items: center;
}

.error-message {
  width: 60%;
}

.hidden {
  display: none;
}

#layout-button,
#signup-button,
.back-button {
  height: 30px;
}

#real-login-button,
#logo {
  height: 25px;
}

.back-button,
#real-login-button {
  width: 10%;
}

#login-box {
  margin-top: 200px;
}

.flex-container {
  margin-top: 20px;
}

#product-details,
.product-list-info {
  margin-left: 20px;
}

#search-term {
  width: 400px;
}

.adv-filter-option {
  margin-bottom: 30px;
  margin-right: 50px;
}

.slider {
  height: 5px;
}

#payment-button,
.user-img {
  margin-bottom: 20px;
}

#payment-button,
#view-all {
  margin-top: 2em;
}

#cart-list,
#empty-cart-msg {
  font-size: 30px;
}

#login-page-elements,
#signup-page-elements,
.flex-container,
.center,
.product-grid,
.product-grid-info,
.product-list,
.product-list-item,
.product-list-info,
#product-description {
  display: flex;
}